.vscode/
.history/

[Bb]in/
[Oo]bj/
artifacts/
out/

packages/
*.nupkg
project.lock.json
packages.lock.json
.nuget/

*.log

*.vs/

.DS_Store
.DS_Store?

exported_tariffs.json
import_tariffs.json
**/*.json